@import "./../../styles.scss";

div {
  > div {
    @include dFlex($fd: column, $g: 20px);
    > p {
      text-align: center;
    }
    > div {
      @include dFlex($g: 20px);
    }
    padding: 0 5vw;
  }
}

h3 {
  padding-top: 40px;
}

a {
  text-decoration: none;
  padding: 10px 20px;
}

.github {
  color: $color-orange;
  border: 1px solid $color-turquoise;
  &:hover {
    color: $color-turquoise;
    transition: color 0.3s ease;
  }
  &:active {
    color: $color-orange;
    border-color: $color-orange;
  }
}

.sitelink {
  color: black;
  background-color: $color-turquoise;
  white-space: nowrap;
  &:hover {
    color: $color-orange;
    transition: color 0.3s ease;
  }
  &:active {
    font-weight: 700;
  }
}

img {
  width: 80vw;
}

.mobile {
  display: block;
  max-width: 600px;
}

.opposite {
  flex-direction: row-reverse;
}

.righted {
  align-items: center !important;
}

.jc {
  justify-content: center !important;
}

.desktop {
  display: none;
}

@media (min-width: 1100px) {
  .opposite {
    flex-direction: row-reverse;
  }

  .righted {
    align-items: flex-end !important;
  }

  .jc {
    justify-content: flex-end !important;
  }

  h3 {
    padding: 0;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
    width: 500px;
  }

  div {
    max-width: 1440px;
    padding: 45px 0;
    @include dFlex($fd: row, $jc: space-between, $ai: flex-start);
    > div {
      align-items: flex-start;
      > p {
        text-align: left;
      }
      > div {
        justify-content: flex-start;
        width: 360px;
        padding: 0;
      }
    }
  }

  .righted {
    align-items: flex-end;
    > p {
      text-align: right !important;
    }
  }
}

@media (min-width: 1300px) {
  .desktop {
    width: 588px;
  }
}
