@import "./../../styles.scss";
@import "./../../mixins.scss";

h1,
h2 {
  color: $color-turquoise;
}

h2 {
  font-size: 54px;
}

a {
  @include dFlex();
  position: absolute;
  top: 50vh;
  left: 45vw;
  width: 50px;
  height: 70px;
}

.arrow {
  display: flex;
}

.above-the-fold {
  height: 100vh;
  width: 100vw;
  @include dFlex();
  margin-bottom: 10px;
}

button {
  display: block;
  background-color: transparent;
  border: 1px solid $color-turquoise;
  padding: 10px 20px;
  color: $color-orange;
  font-size: 16px;
  width: 164px;
  height: 50px;
  margin-left: -52px;
  margin-bottom: 180px;
  rotate: 270deg;
  &:hover {
    color: $color-turquoise;
  }
}

.name-container {
  @include dFlex($fd: column, $ai: flex-start);
}

.hero-container {
  @include dFlex($jc: space-between, $fd: row-reverse, $ai: flex-end);
  width: 1440px;
  padding-left: 78px;
  padding-right: 78px;
  margin-bottom: -200px;
}

.portrait {
  width: 540px;
  aspect-ratio: 1.05/1;
  padding-bottom: 20px;
}

@media (max-width: 1460px) {
  h1 {
    font-size: 74px;
  }

  h2 {
    font-size: 48px;
  }

  .portrait {
    width: 510px;
  }
}

@media (max-width: 1380px) {
  .portrait {
    width: 480px;
  }

  h1 {
    font-size: 68px;
  }

  h2 {
    font-size: 42px;
  }
}

@media (max-width: 1300px) {
  .portrait {
    width: 460px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 40px;
  }
}

@media (max-width: 1200px) {
  .portrait {
    width: 500px;
  }

  // h1 {
  //   font-size: 40px;
  // }

  // h2 {
  //   font-size: 24px;
  // }

  button {
    display: none;
  }

  .arrow {
    display: none;
  }

  .hero-container {
    flex-direction: column;
    align-items: center;
  }

  .name-container {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .portrait {
    width: 332px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 24px;
  }

  .hero-container {
    padding: 0;
  }
}
