<div class="above-the-fold">
    <div class="hero-container">
        <img i18n-alt class="portrait" src="assets/img/portraits/self-2.png" alt="portrait">
        <div class="name-container">
            <a class="font-robotomono btn" href="#{{ contactLink }}">
                CONTACT ME
            </a>
            <h2 i18n class="font-robotomono">FRONTEND DEVELOPER</h2>
            <h1 i18n class="font-robotomono">Kieran Noel Mai</h1>
        </div>
        <a href="#{{ whyMeLink }}" class="arrow-link">
            <img i18n-title class="arrow" (mouseover)="arrowHover()" (mouseleave)="arrowDefault()"
                [src]="arrowIconSource" alt="arrow">
        </a>
    </div>
</div>