<section class="above-the-fold">
    <div class="hero-container">
        <img class="portrait" src="./../assets/img/portraits/self.svg" alt="portrait">
        <div class="name-container">
            <button class="font-robotomono">CONTACT ME</button>
            <h2 class="font-robotomono">FRONTEND DEVELOPER</h2>
            <h1 class="font-robotomono">Kieran Noel Mai</h1>
        </div>
        <a href="#Why%20me">
            <img class="arrow" (mouseover)="arrowHover()" (mouseleave)="arrowDefault()" [src]="arrowIconSource">
        </a>
    </div>
</section>