@import "./../../styles.scss";
@import "./../../_mixins.scss";

div {
  max-width: 1440px;
  padding: 0 78px;
  @include dFlex($fd: column);
  margin: 0 auto;
  // padding-bottom: 80px;
  > h2 {
    text-align: center;
  }
}

@media (min-width: 1100px) {
  h2 {
    padding-bottom: 20px;
  }
}
