@import "./../../styles.scss";
@import "./../../_mixins.scss";

div {
  max-width: 1440px;
  padding: 0 78px;
  @include dFlex($fd: column);
  margin: 0 auto;
}

@media (max-width: 11000px) {
  h2 {
    padding-bottom: 20px;
  }
}
