<section>
    <div class="wrap">
        <div class="top-container">
            <h3 i18n class="font-robotomono orange big-headline">Need a teamplayer ?</h3>
            <div class="container">
                <h4 i18n class="font-robotomono orange no-wrap small-headline">Need a teamplayer? &ensp; </h4>
                <h4 i18n class="font-robotomono orange">Here what my colleagues said about me</h4>
            </div>
        </div>
        <div class="content">
            <div class="arrow-container">
                <img i18n-alt src="assets/img/arrows/arrow-6.svg" alt="arrow">
            </div>
            @for (evaluation of evaluations; track $index) { <app-teamplayer-macro
                [evaluation]="evaluation"></app-teamplayer-macro>
            }
        </div>
    </div>
</section>