@import "./../../styles.scss";
@import "./../../mixins";

.wrap {
  @include dFlex($g: 20px, $fd: column, $ai: flex-start);
  // padding: 0 78px;
  padding-bottom: 100px;
  // max-width: 1440px;
  margin: 0 auto;
}

.top-container {
  @include dFlex($fd: column);
  width: 100%;
}

h3,
h4 {
  padding: 0 10px;
  text-align: center;
}

.no-wrap {
  white-space: nowrap;
}

.content {
  width: 100vw;
  @include dFlex($jc: flex-start);
  overflow-x: auto;
  padding-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: row;
}

.big-headline {
  display: flex;
}

.small-headline {
  display: none;
  padding-right: 10px;
}

.arrow-container {
  height: 250px;
  @include dFlex($ai: flex-start);
  display: none;
}

@media (min-width: 1110px) {
}

@media (min-width: 1300px) {
  .content {
    width: max-content;
  }
}

@media (min-width: 1400px) {
  .arrow-container {
    display: flex;
  }

  h3,
  h4 {
    font-size: 24px;
  }

  .big-headline {
    display: none;
  }

  .small-headline {
    display: flex;
  }

  .wrap {
    align-items: flex-start;
    max-width: 1440px;
    padding: 0 78px;
    margin: 0 auto;
  }
}
