@import "./../../../../_mixins.scss";
@import "./../../../../styles.scss";

header {
  height: 77px;
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;  @include dFlex($jc: space-between);
  // background: linear-gradient(
  //   to bottom,
  //   rgba(11, 4, 45, 1) 60%,
  //   rgba(11, 4, 45, 0.95) 80%,
  //   rgba(11, 4, 45, 0.7) 100%
  // );
  background-color: #0B042D;
}

h2 {
  padding-left: 5vw;
 color: $color-orange;
}

img{
  width: 30px;
  padding-right: 5vw;
}