@import "./../../../../_mixins.scss";
@import "./../../../../styles.scss";

header {
  height: 77px;
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  @include dFlex($jc: space-between);
  // background: linear-gradient(
  //   to bottom,
  //   rgba(11, 4, 45, 1) 60%,
  //   rgba(11, 4, 45, 0.95) 80%,
  //   rgba(11, 4, 45, 0.7) 100%
  // );
  background-color: #0b042d;
}

h2 {
  padding-left: 5vw;
  color: $color-orange;
}

img {
  width: 30px;
  padding-right: 5vw;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 48px;
}

li {
  text-align: center;
  margin: 10px;
  padding-bottom: 30px;
}

nav {
  font-size: 18px;
  color: $color-orange;
  display: none;
  width: 100vw;
  position: absolute;
  background: linear-gradient(
    180deg,
    #13074e 46.5%,
    rgba(29, 10, 121, 0.95) 91%
  );
  top: 0;
  left: 0;
  background-color: aqua;
  &.active {
    display: block;
  }
  > img {
    position: absolute;
    right: 16px;
    top: 16px;
    padding: 0;
  }
  border-bottom-left-radius: 5vw;
  border-bottom-right-radius: 5vw;
}

a {
  text-decoration: none;
  color: $color-orange;
  &:hover {
    color: $color-turquoise;
  }
}

button {
  background-color: transparent;
  border: none;
  color: $color-orange;
  &:hover {
    color: $color-turquoise;
  }
}
