<header>
    <div class="wrap">
        <div class="container-one">
            <h2 class="font-handjet">&lt;KM&gt;</h2>
            <div class="header-left">
                @for (link of links; track $index) {
                <a class="font-robotomono no-wrap" href="#{{ link }}">{{ link }}</a>
                }
            </div>
        </div>
        <nav class="font-robotomono" [class.active]="menuOpen">
            <img i18n-alt [src]="xIconSource" (mouseover)="xHover()" (mouseleave)="xDefault()" (click)="toggleMenu()"
                alt="close">
            <ul>
                @for (link of links; track $index) {
                <li><a href="#{{ link }}" (click)="toggleMenu()">{{ link }}</a></li>
                }
                <li>
                    <button class="language-media font-robotomono">DE</button> | <button
                        class="font-robotomono language-media">EN</button>
                </li>
            </ul>
        </nav>
        <img i18n-alt id="burger-menu" [src]="burgerIconSource" (mouseover)="burgerHover()"
            (mouseleave)="burgerDefault()" (click)="toggleMenu()" alt="burger-menu">

        <div class="language-container">
            <a href="/de">
                <button class="font-robotomono">DE</button>
            </a>
            <p>|</p>
            <a href="/en-US">
                <button class="font-robotomono">EN</button>
            </a>
        </div>
    </div>
</header>