<section>
  <div class="wrap">
    <img class="portrait" src="./../assets/img/portraits/self-full-2.jpg" alt="protraits">
    <div class="why-me-container">
      <div class="top-container">
        <h2 class="font-robotomono">Why me</h2>
        <p class="motivation font-robotomono">I am motivated to continuously learn new technologies and develop myself.
          My
          ability to
          solve complex problems and my passion for programming make me a valuable member of your team.
        </p>
      </div>
      <img class="arrow-one" src="./assets/img/arrows/arrow-1.svg" alt="arrow">
      <div class="icons-container">
        <p class="iam font-robotomono orange">I am</p>

        <div class="mini-container right-margin" (mouseover)="onMouseOver('location')"
          (mouseout)="onMouseOut('location')">
          <img [src]="locationIcon" alt="location">
          <p class="font-robotomono media">located in Berlin</p>
          <p class="font-robotomono default">located <br> in Berlin</p>
        </div>

        <div class="mini-container" (mouseover)="onMouseOver('suitcase')" (mouseout)="onMouseOut('suitcase')">
          <img [src]="suitcaseIcon" alt="suitcase">
          <p class="font-robotomono media">open to relocate</p>
          <p class="font-robotomono default">open to<br> relocate</p>
        </div>

        <div class="mini-container right-margin" (mouseover)="onMouseOver('computer')"
          (mouseout)="onMouseOut('computer')">
          <img [src]="computerIcon" alt="computer">
          <p class="font-robotomono media">open to work remote</p>
          <p class="font-robotomono default">open to <br> work remote</p>
        </div>
      </div>
      <img class="arrow-two" src="./assets/img/arrows/arrow-2.svg" alt="arrow">

      <div class="button-container">
        <button class="font-robotomono">Let's talk</button>
      </div>
    </div>
    <div class="help-container">
      <img class="arrow-three" src="./assets/img/arrows/arrow-1.svg" alt="arrow">
    </div>
    <div class="help-container">
      <img class="arrow-four" src="./assets/img/arrows/arrow-3.svg" alt="arrow">
    </div>
    <div class="help-container">
      <img class="arrow-five" src="./assets/img/arrows/arrow-2.svg" alt="arrow">
    </div>
  </div>
</section>