<div class="section">
  <div class="wrap">
    <img class="portrait" src="./../assets/img/portraits/self-full-2.jpg" alt="protraits">
    <div class="why-me-container">
      <div class="top-container">
        <h2 i18n class="font-robotomono">Why me</h2>
        <p i18n class="motivation font-robotomono">I am motivated to continuously learn new technologies and develop
          myself.
          My
          ability to
          solve complex problems and my passion for programming make me a valuable member of your team.
        </p>
      </div>
      <div class="mobile-arrow-four">
        <img class="arrow-four" src="./assets/img/arrows/arrow-1.svg" alt="arrow">
      </div>
      <div class="icons-container">
        <div class="first-container">
          <p i18n class="iam font-robotomono orange">I am</p>
          <div class="mini-container right-margin" (mouseover)="onMouseOver('location')"
            (mouseout)="onMouseOut('location')">
            <div class="icons">
              <img [src]="locationIcon" alt="location">
            </div>
            <p i18n class="font-robotomono media">located in Berlin</p>
            <p i18n class="font-robotomono default">located <br> in Berlin</p>
          </div>
        </div>
        <div class="secound-container">
          <img class="arrow-one" src="./assets/img/arrows/arrow-1.svg" alt="arrow">

          <div class="mini-container" (mouseover)="onMouseOver('suitcase')" (mouseout)="onMouseOut('suitcase')">
            <div class="icons">
              <img [src]="suitcaseIcon" alt="suitcase">
            </div>
            <p i18n class="font-robotomono media">open to relocate</p>
            <p i18n class="font-robotomono default">open to<br> relocate</p>
          </div>
        </div>
        <div class="third-container">
          <div class="inner-third-container">
            <div class="mini-container right-margin" (mouseover)="onMouseOver('computer')"
              (mouseout)="onMouseOut('computer')">
              <div class="icons">
                <img [src]="computerIcon" alt="computer">
              </div>
              <p i18n class="font-robotomono media">open to work remote</p>
              <p i18n class="font-robotomono default">open to <br> work remote</p>
            </div>
            <img class="arrow-two" src="./assets/img/arrows/arrow-2.svg" alt="arrow">
          </div>
          <img class="arrow-three" src="./assets/img/arrows/arrow-3.svg" alt="arrow">

        </div>
      </div>
      <div class="mobile-arrow-five">
        <img class="arrow-five" src="./assets/img/arrows/arrow-5.svg" alt="arrow">
      </div>
      <div class="button-container">
        <button i18n class="font-robotomono">Let's talk</button>
      </div>
    </div>
  </div>
</div>