@import "./../../styles.scss";
@import "./../../_mixins.scss";

h2 {
  color: $color-orange;
}

p {
  color: $color-turquoise;
  font-weight: 400;
  text-align: center;
}

.section {
  width: 100vw;
  padding-bottom: 20px;
  @include dFlex();
}

button {
  background-color: $color-turquoise;
  color: black;
  border: none;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  &:hover {
    color: $color-orange;
  }
  &:active {
    font-weight: 700;
  }
}

.wrap {
  width: 1440px;
  padding: 0px 78px;
  @include dFlex($jc: space-between);
}

.first-container {
  width: 568px;
  height: 60px;
  @include dFlex($jc: flex-start, $g: 58px);
}

.secound-container {
  width: 568px;
  height: 60px;
  @include dFlex($jc: flex-end, $g: 150px);
  right: 80px;
  position: relative;
}

.third-container {
  width: 568px;
  height: 60px;
  @include dFlex($jc: space-between);
}

.inner-third-container {
  @include dFlex();
  padding-left: 168px;
}

.arrow-one {
  rotate: 270deg;
}

.arrow-two {
  padding-left: 15px;
  rotate: 0deg;
}

.arrow-three {
  rotate: 270deg;
}

.arrow-four {
  rotate: 270deg;
  display: none;
}

.arrow-five {
  display: none;
}

.mobile-arrow-four {
  @include dFlex($jc: flex-start);
  height: 80px;
  width: 80vw;
}

.mobile-arrow-five {
  @include dFlex($jc: flex-end);
  height: 60px;
  width: 80vw;
}

.icons {
  @include dFlex();
  width: 40px;
  height: 60px;
}

.media {
  display: none;
}

.default {
  display: block;
  text-align: left;
}

.mini-container {
  @include dFlex($fd: row);
  > p {
    padding-left: 10px;
  }
}

.iam {
  font-size: 48px;
  font-weight: 700;
}

.portrait {
  width: 452px;
}

.why-me-container {
  @include dFlex($fd: column, $ai: flex-end, $jc: space-between);
  height: 452px;
  width: 700px;
}

.top-container {
  @include dFlex($ai: flex-end, $fd: column);
  width: 660px;
  > p {
    text-align: right;
  }
}

@media (max-width: 1270px) {
  .portrait {
    display: none;
  }

  .wrap {
    align-items: flex-end;
    justify-content: center;
    flex-direction: column-reverse;
  }
}

@media (max-width: 900px) {
  .wrap {
    width: 100vw;
    padding: 0;
    align-items: center;
  }

  .iam {
    font-size: 18px;
  }

  .first-container {
    width: 60vw;
    flex-direction: column;
    gap: 0;
    height: 80px;
    padding-top: 10px;
  }

  .secound-container {
    width: 60vw;
    justify-content: center;
    left: 0;
    // padding: 20px;
  }

  .third-container {
    width: 60vw;
    justify-content: center;
    > div {
      padding: 0;
    }
  }

  .top-container {
    width: 80vw;
    align-items: center;
    > p {
      text-align: center;
    }
    > h2 {
      // font-size: 32px;
      padding-bottom: 20px;
    }
  }

  .why-me-container {
    align-items: center;
    height: max-content;
    width: max-content;
  }

  .arrow-one,
  .arrow-two,
  .arrow-three {
    display: none;
  }

  .arrow-four,
  .arrow-five {
    display: block;
  }

  .media {
    display: block;
  }

  .default {
    display: none;
  }
}
