<section>
    <div>
        <h2 class="font-robotomono">Why me</h2>
        <p class="font-robotomono">I am motivated to continuously learn new technologies and develop myself. My ability to solve complex problems and my passion for programming make me a valuable member of your team.</p>
    </div>
    <img class="arrow-one" src="./assets/img/arrows/arrow-1.svg">
    <div>
        <p class="font-robotomono orange" >I am</p>
        <div><img src="./assets/img/icons/location-default-icon.svg" alt=""><p class="font-robotomono">located in Berlin</p></div>
        <div><img src="./assets/img/icons/suitcase-default-icon.svg" alt=""><p class="font-robotomono">open to relocate</p></div>
        <div><img src="./assets/img/icons/computer-default-icon.svg" alt=""><p class="font-robotomono">open to work remote</p></div>
    </div>
    <img class="arrow-two" src="./assets/img/arrows/arrow-2.svg">
    <div>
        <button class="font-robotomono">Let's talk</button>
    </div>
</section>

<app-my-skills></app-my-skills>