@import "./../../styles.scss";
@import "./../../_mixins.scss";

.wrap {
  @include dFlex($fd: column, $g: 20px);
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

form {
  @include dFlex($fd: column, $g: 10px);
  // width: max-content;
}

.arrow {
  @include dFlex();
  width: 50px;
  height: 70px;
  position: relative;
  padding-left: 70vw;
}

.arrow-desktop {
  @include dFlex();
  width: 50px;
  height: 70px;
}

input[type="text"],
input[type="email"] {
  width: 80vw;
  background-color: transparent;
  border: 1px solid $color-turquoise;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  &::placeholder {
    color: $color-turquoise;
  }
  &.placeholder-error::placeholder {
    color: #f92103;
    font-size: 16px;
  }
}

input[type="submit"] {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid $color-turquoise;
  &:hover {
    color: $color-turquoise;
  }
  &:active {
    border-color: $color-orange;
    color: $color-orange;
  }
  &:disabled {
    color: $color-grey;
    border-color: $color-grey;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

span {
  color: #f92103;
  padding-left: 10px;
}

textarea {
  border: 1px solid $color-turquoise;
  background-color: transparent;
  font-size: 16px;
  padding: 10px;
  // padding-bottom: 100px;
  height: 120px;
  resize: vertical;
  width: 80vw;
  &::placeholder {
    color: $color-turquoise;
  }
  &.placeholder-error::placeholder {
    color: #f92103;
    font-size: 16px;
  }
}

.textarea-container {
  @include dFlex($fd: column, $g: 16px, $ai: flex-start);
}

.policy {
  font-size: 12px;
}

.checkbox-container {
  @include dFlex($g: 8px);
  cursor: pointer;
}

.container-bir {
  @include dFlex();
  > img {
    display: none;
  }
}

.container-iki {
  @include dFlex();
}

.container-uc {
  max-width: 600px;
}

.container-on {
  display: none;
}

.container-alti {
  @include dFlex($fd: column, $g: 16px, $ai: flex-start);
  padding-bottom: 16px;
}

.container-yedi {
  display: none;
  @include dFlex($jc: flex-start);
  > img {
    padding-right: 10px;
  }
}

.container-dokuz {
  width: 75vw;
  > input {
    margin-top: 10px;
  }
}

.container-sekiz {
  display: block;
}

.mobile {
  display: flex;
}

.desktop {
  display: none;
}

@media (min-width: 600px) {
  .container-dokuz {
    width: 500px;
  }

  input[type="text"],
  input[type="email"] {
    width: 400px;
  }

  textarea {
    width: 400px;
  }

  .container-dokuz {
    width: 400px;
  }
}

@media (min-width: 1250px) {
  .wrap {
    align-items: flex-start;
    max-width: 1440px;
    padding: 0 78px;
  }

  form {
    align-items: flex-start;
    width: 100%;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }

  .container-bir {
    > img {
      display: block;
    }
  }

  .container-dokuz {
    @include dFlex($jc: space-between);
    width: 100%;
  }

  .container-sekiz {
    display: none;
  }

  .container-on {
    @include dFlex($jc: space-between);
    flex: 1;
  }

  .container-dört {
    @include dFlex($fd: column, $ai: flex-start, $g: 10px);
  }

  .container-alti {
    @include dFlex($fd: column, $g: 30px, $ai: flex-start);
    width: max-content;
    padding-right: 30px;
    padding-bottom: 0;
  }

  .container-bes {
    @include dFlex($fd: row, $jc: space-between, $ai: flex-start);
    width: 100%;
  }

  input[type="submit"] {
    margin-top: 20px;
  }

  input[type="text"],
  input[type="email"] {
    width: 478px;
    height: 34px;
  }

  .textarea-container {
    flex-grow: 1;
  }

  textarea {
    width: calc(100% - 20px);
  }

  .container-uc {
    width: 507px;
  }

  .container-iki {
    @include dFlex($fd: row, $g: 20px, $jc: flex-start);
    width: 100%;
  }

  .text {
    text-align: left;
    width: 500px;
  }
}
