@import "./../../styles.scss";
@import "./../../mixins";

div {
  @include dFlex($fd: column, $jc: flex-start);
  border: 1px solid $color-turquoise;
  height: 250px;
  //   min-width: 300px;
  flex: 1;
  padding: 12px;
  margin: 0px 40px;
  max-width: 300px;
  width: max-content;
}

p {
  text-align: center;
  font-size: 16px;
}

.project {
  font-size: 16px;
  padding-bottom: 10px;
}

@media (min-width: 1200px) {
  div {
    border: none;
    align-items: flex-start;
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
  }

  p {
    font-size: 18px;
    text-align: left;
    font-weight: 400;
  }

  .project {
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 16px;
  }
}
