<section id="above-the-fold">
    <app-above-the-fold></app-above-the-fold>
</section>

<section id="Why%20me">
    <app-why-me></app-why-me>
</section>

<section id="Skills">
    <app-my-skills></app-my-skills>
</section>

<section id="Projects">
    <app-my-projects></app-my-projects>
</section>

<section id="Teamplayer">
    <app-teamplayer></app-teamplayer>
</section>

<section id="Contact">
    <app-contact-me></app-contact-me>
</section>

<section id="footer">
    <app-footer></app-footer>
</section>