<app-header-simple></app-header-simple>
<section class="font-robotomono">
    <div>
        <h1 i18n>Private Policy Information</h1>
        <h2 i18n>Person in charge</h2>
        <p i18n>The controller within the meaning of the data protection laws, in particular the EU General Data
            Protection Regulation (GDPR), is:</p>
        <p class='generator_user_input'>Kieran Noel Mai</p>
        <h2 i18n>Your data subject rights</h2>
        <p i18n>In accordance with the EU General Data Protection Regulation (GDPR), you can use the contact details
            provided at any time to exercise the following rights:</p>
        <ul i18n>
            <li>Information about your data stored by us and its processing (Art. 15 GDPR),</li>
            <li>Correction of incorrect personal data (Art. 16 GDPR),</li>
            <li>Erasure of your data stored by us (Art. 17 GDPR),</li>
            <li>Restriction of data processing if we are not yet permitted to erase your data due to legal obligations
                (Art. 18 GDPR),</li>
            <li>Objection to the processing of your data by us (Art. 21 GDPR) and</li>
            <li>Data portability if you have consented to data processing or have concluded a contract with us (Art. 20
                GDPR).</li>
        </ul>
        <p i18n>If you have given us your consent, you can revoke it at any time with effect for the future.</p>
        <p i18n>You can lodge a complaint with a supervisory authority at any time, e.g., with the competent
            authority in the federal state of your place of residence or with the authority responsible for us as the
            competent authority.</p>
        <p i18n>A list of supervisory authorities (for the non-public sector) with addresses can be found at <a
                href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html">www.bfdi.bund.de</a>.
        </p>
        <h2 i18n>Processing activities</h2>
        <p i18n>A contact form is available on our website, which can be used for electronic communication.
            If a user makes use of this option, the data entered in the input mask will be transmitted to us and stored.
        </p>
        <p i18n>The following data is also stored at the time the message is sent:</p>
        <ul i18n>
            <li>Date and time of the enquiry</li>
        </ul>
        <p i18n>You can contact us via the email addresses provided. In this case, the
            personal data transmitted with the email will be stored, including the date and
            time the email was sent, email address, IP addresses, and information about the servers involved in the
            email communication.</p>
        <p i18n>You can contact us via the telephone numbers provided. In this case, we collect
            log data containing your telephone number and the duration of the call.</p>
        <p i18n>Regardless of the type of communication selected, we collect the content of your enquiry. Your data will
            be
            stored for the purpose of personalized communication with you.</p>
        <h4 i18n>Legal foundation</h4>
        <p i18n>The data is processed on the basis of a legitimate interest (Art. 6 para. 1 lit. f
            GDPR).</p>
        <p i18n>Our legitimate interest in processing your data is to enable an easy establishment of contact with you.
        </p>
        <p i18n>If you contact us to inquire about an offer, the data will be processed for the purpose of
            implementing pre-contractual measures (Art. 6 para. 1 lit. b GDPR).</p>
        <h4 i18n>Recipient</h4>
        <p i18n>Recipients of the data may be technical service providers who act as processors for the operation and
            maintenance of our website.</p>
        <h4 i18n>Storage duration</h4>
        <p i18n>Data will be deleted no later than twelve months after the contact has been processed.</p>
        <p i18n>If there is a contractual relationship, we are subject to the statutory retention periods.
            These
            are generally 6 or 10 years for reasons of proper accounting and tax law requirements.</p>
        <h4 i18n>Provision prescribed or required</h4>
        <p i18n>The provision of your personal data is voluntary. However, we can only process your enquiry
            if you provide us with the required data and the reason for the enquiry.</p>
        <h4 i18n>Objection</h4>
        <p i18n>Read the information about your right of objection according to Art. 21 GDPR below.</p>
        <h2 i18n>Information about your right of objection under Art. 21 GDPR</h2>
        <h3 i18n>Individual case-related right of objection</h3>
        <p i18n>You have the right to object at any time, on grounds relating to your particular situation, to the
            processing of your personal data, which is carried out on the basis of Art. 6(1)(f) GDPR (data processing
            based on a balance of interests); this also applies to profiling based on these provisions in accordance
            with Art. 4(4) GDPR.</p>
        <p i18n>If you object, we will no longer process your personal data unless we can demonstrate compelling
            legitimate grounds for the processing which override your interests, rights, and freedoms, or the processing
            is for the establishment, exercise, or defense of legal claims.</p>
        <h3 i18n>Recipient of an objection</h3>
        <p i18n class='generator_user_input'>Kieran Noel Mai</p>
        <h2 i18n>Changes to our Privacy Policy</h2>
        <p i18n>We reserve the right to amend this privacy policy to ensure it always complies with the current legal
            requirements or to implement changes to our services in the privacy policy, such as when introducing new
            services. Your renewed visit will then be subject to the new privacy policy.</p>
        <h2 i18n>Questions about data protection</h2>
        <p i18n>If you have any questions about data protection, please email us at the address mentioned above.</p>
    </div>
</section>