@import "./../../styles.scss";
@import "./../../_mixins.scss";

section {
  width: 100vw;
  @include dFlex();
  > div {
    max-width: 1440px;
    padding-bottom: 80px;
    @include dFlex($fd: column);
    gap: 32px;
    > div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 52px;
      width: 80vw;
      height: 500px;
      > p {
        color: $color-turquoise;
        margin-left: -80px;
      }
    }
    > img {
      rotate: 270deg;
    }
    > p {
      color: $color-turquoise;
      text-align: center;
      padding: 0 5vw;
    }
    > button {
      background-color: $color-turquoise;
      color: black;
      border: none;
      font-weight: 400;
      font-size: 16px;
      padding: 10px 20px;
    }
  }
}

.icon-container {
  @include dFlex($fd: column, $jc: space-between);
  height: auto;
  > p {
    color: $color-turquoise;
    display: none;
    font-size: 18px;
    text-align: center;
  }
}

#questionmark-container {
  display: flex;
  flex-direction: row;
  > p {
    color: $color-turquoise;
    font-size: 18px;
    text-align: left;
    padding-left: 10px;
  }
}

@media (min-width: $media-bp) {
  section {
    > div {
      align-items: flex-start;
      > div {
        width: 80vw;
        justify-content: center;
      }
    }
  }

  .mobile {
    display: none;
  }

  #questionmark-container {
    > img {
      max-width: 60px;
    }
    flex-direction: column;
    align-items: center;
    > p {
      text-align: center;
      padding: 0;
    }
  }

  .icon-container {
    height: 80px;
    > p {
      display: block;
    }
  }
}
