<section id="skills">
    <h2 class="font-robotomono orange">My Skills</h2>
    <div>
        @for (skill of
        ['angular','typescript','javascript','css','python','html','firebase','github','materialdesign','scrum','questionmark'];
        track $index) {
        <img src="./assets/img/icons/{{ skill }}-icon.svg" alt="{{ skill }}">
        }
        <p class="font-robotomono challenge">Challenge <br> Me</p>
    </div>
    <img src="./assets/img/arrows/arrow-1.svg">
    <p class="font-robotomono">I am always happy to learn new technonogies,just tell me what you <br> need.</p>
    <button class="font-robotomono">Let's talk</button>
</section>