<!-- <app-header-simple></app-header-simple> -->
<section class="font-robotomono">
    <div class='imprint'>
        <h1 i18n>Imprint</h1>
        <p i18n> Information according to § 5 DDG</p>
        <p i18n>Kieran Noel Mai<br>
            Holsteinische Straße 27<br>
            12161 Berlin <br>
        </p>
        <p i18n> <span>Represented by: </span><br>
            Kieran Noel Mai<br>
        </p>
        <p i18n> <span>Kontakt:</span> <br>
            Telefon: +49 151 72428241<br>
            E-Mail: <a href='kieran.n.mai@gmail.com'>kieran.n.mai&#64;gmail.com</a></p>
        <!-- <p><strong>Umsatzsteuer-ID: </strong> <br>
            Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz: Musterustid.<br><br>
            <strong>Wirtschafts-ID: </strong><br>
            Musterwirtschaftsid<br>
        </p>
        <p><strong>Aufsichtsbehörde:</strong><br>
            Musteraufsicht Musterstadt<br></p> -->
        <p i18n><span>Disclaimer of liability: </span><br><br><span>Liability for content
            </span><br><br> The content of our website has been created with the greatest care. However, we cannot
            guarantee the accuracy, completeness and up-to-dateness of the content.
            However, we cannot assume any liability for the completeness and topicality of the content. As a service
            provider we are liable according to § 7
            Abs.1 DDG for own contents on these pages according to the general laws. According to §§ 8 to
            10 DDG, however, we are not obliged as a service provider to monitor transmitted or stored third-party
            information
            or to investigate circumstances that indicate illegal activity.
            Obligations to remove or block the use of information in accordance with general legislation remain
            unaffected by this.
            remain unaffected by this. However, liability in this respect is only possible from the point in time at
            which we become
            knowledge of a specific infringement. As soon as we become aware of such infringements, we will remove such
            content immediately.
            we will remove such content immediately.
            <br><br><span>Copyright</span><br><br>
            The content and works created by the site operators on these pages are subject to German copyright law.
            copyright law. The reproduction, editing, distribution and any kind of utilisation outside the limits of
            copyright law
            limits of copyright law require the written consent of the respective author or creator.
            Downloads and copies of this site are only permitted for private, non-commercial use. Insofar as
            the content on this site was not created by the operator, the copyrights of third parties are respected.
            In particular, third-party content is labelled as such. Should you nevertheless become aware of a
            copyright infringement, please inform us accordingly. If we become aware of
            infringements, we will remove such content immediately.
            remove such content.
            <br><br><span>Data protection</span><br><br>
            It is generally possible to use our website without providing personal data. As far as on our
            Insofar as personal data (e.g. name, address or e-mail addresses) is collected on our website, this is
            always done on a voluntary basis.
            As far as possible, this is always done on a voluntary basis. This data will not be passed on to third
            parties without your express consent.
            This data will not be passed on to third parties without your express consent.
            We would like to point out that data transmission on the Internet (e.g. when communicating by e-mail)
            can have security gaps. Complete protection of data against access by third parties is not possible.
            possible.<br>
            The use of contact data published in the context of the imprint obligation by third parties for the
            transmission of
            of unsolicited advertising and information material is hereby expressly prohibited.
            We hereby object to this. The operators of this website expressly reserve the right to take legal action in
            the event of unsolicited
            the unsolicited sending of advertising information, such as spam mails.<br>
        </p><br>
    </div>



</section>