<section>
    <div class="container-yon">
        <h2 class="font-handjet orange">&lt;KM&gt;</h2>
        <p class="font-robotomono orange">aerospace engineering B.Sc.<br>frontend developer</p>
    </div>
    <div class="container-ichi">

        <p class="font-robotomono orange">© Kieran Noel Mai 2024</p>
        <div class="container-ni">

            <a class="font-robotomono orange" href="LegalNotice">Legal Notice</a>
            <a class="font-robotomono orange" href="Imprint">Imprint</a>
        </div>
    </div>
    <div class="container-san">
        <a href="">
            <img src="assets/img/icons/footer-mail.svg" alt="mail">
        </a>
        <a href="">
            <img src="assets/img/icons/footer-linkedin.svg" alt="linkedin">
        </a>
        <a href="">
            <img src="assets/img/icons/footer-github.svg" alt="github">
        </a>
    </div>
</section>