<section>
    <div class="container-yon">
        <h2 class="font-handjet orange">&lt;KM&gt;</h2>
        <p i18n class="font-robotomono orange">aerospace engineering B.Sc.<br>frontend developer</p>
    </div>
    <div class="container-ichi">

        <p class="font-robotomono orange">© Kieran Noel Mai 2024</p>
        <div class="container-ni">
            <!-- [routerLink]="['/' + currentLanguage + '/imprint']" -->
            <a i18n class="font-robotomono orange" routerLink="LegalNotice">Legal Notice</a>
            <a i18n class="font-robotomono orange" routerLink="Imprint">Imprint</a>
        </div>
    </div>
    <div class="container-san">
        <a href="mailto:kieran.noel@icloud.com">
            <img src="assets/img/icons/footer-mail.svg" alt="mail">
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/kieran-noel-mai-274662237/">
            <img src="assets/img/icons/footer-linkedin.svg" alt="linkedin">
        </a>
        <a target="_blank" href="https://github.com/NoelKi">
            <img src="assets/img/icons/footer-github.svg" alt="github">
        </a>
    </div>
</section>