@import "./../../../../_mixins.scss";
@import "./../../../../styles.scss";

header {
  height: 77px;
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  background-color: #0b042d;
  @include dFlex();
}

.wrap {
  width: 100%;
  @include dFlex($jc: space-between);
}

h2 {
  padding-left: 5vw;
  color: $color-orange;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 48px;
}

li {
  text-align: center;
  margin: 10px;
  padding-bottom: 30px;
}

a {
  text-decoration: none;
  color: $color-orange;
  &:hover {
    color: $color-turquoise;
  }
  cursor: pointer;
}

img {
  rotate: 270deg;
}

.img-container {
  width: 90px;
  height: 60px;
  @include dFlex();
  position: absolute;
  left: calc(50vw - 45px);
  top: 10px;
}

.language-container {
  display: flex;
  color: $color-orange;
  font-weight: 800;

  align-items: center;
  > p {
    font-size: 24px;
  }
  padding-left: 40px;
}

button {
  background-color: transparent;
  border: none;
  color: $color-orange;
  &:hover {
    color: $color-turquoise;
  }
  cursor: pointer;
}

#burger-menu {
  display: block;
}

.header-left {
  font-size: 22px;
  padding-left: 40px;
  display: none;
  > a {
    padding-left: 20px;
  }
}

@media (min-width: 800px) {
  .header-left {
    display: block;
  }

  header {
    height: 92px;
    background: linear-gradient(
      to bottom,
      rgba(11, 4, 45, 1) 60%,
      rgba(11, 4, 45, 0.8) 100%
    );
  }

  h2 {
    font-size: 48px;
    padding: 0;
  }

  .language-container {
    display: flex;
  }

  img {
    top: 20px;
  }
}

@media (min-width: 1200px) {
  .wrap {
    padding: 0 78px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
